# Preliminary: Install and Import Packages

In [1]:
! pip install kaleido

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 11.2 MB/s eta 0:00:00
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import decimal
from datetime import datetime, date, timedelta, timezone
from dateutil.relativedelta import relativedelta
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
import statsmodels.api as sm
import plotly.colors as pc
import ipywidgets as ipw

In [3]:
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2023-03-04 14:59:16--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T145917Z&X-Amz-Expires=300&X-Amz-Signature=35e84cfb5cbb9cea07e1a295195cc9abf179c7665d7853769fbce72bd94bd2de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2023-03-04 14:59:17--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T145917Z&X-Amz-Expires=300&X-Amz-Signature=35e84cfb5cbb9cea07e1a295195cc9abf179c7665d7853769fbce72bd94bd2de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  23.8MB/s    in 2.1s

2023-03-04 14:59:19 (23.8 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
  libgail-common libgail18 libgtk2.0-bin libgtk2.0-common
Suggested packages:
  gvfs
The following NEW packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2
  libgail-common libgail18 libgconf-2-4 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common xvfb
0 upgraded, 11 newly installed, 0 to remove and 22 not upgraded.
Need to get 3,752 kB of archives.
After this operation, 17.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libdbus-glib-1-2 amd64 0.110-5fakssync1 [59.1 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf2-common all 3.2.6-6ubuntu1 [698 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/universe amd64 libgconf-2-4 amd64 3.2.6-6ubuntu1 [84.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf-service-backend amd64 3.2.6-6ubuntu1 [58.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf-service amd64 3.2.6-6ubuntu1 [17.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 libgtk2.0-common all 2.24.32-4ubuntu4 [126 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/main amd64 libgtk2.0-0 amd64 2.24.32-4ubuntu4 [1,791 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 libgail18 amd64 2.24.32-4ubuntu4 [14.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libgail-common amd64 2.24.32-4ubuntu4 [116 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal/main amd64 libgtk2.0-bin amd64 2.24.32-4ubuntu4 [7,728 B]
Get:11 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 xvfb amd64 2:1.20.13-1ubuntu1~20.04.6 [780 kB]
Fetched 3,752 kB in 0s (21.8 MB/s)
Selecting previously unselected package libdbus-glib-1-2:amd64.
(Reading database ... 128215 files and directories currently installed.)
Preparing to unpack .../00-libdbus-glib-1-2_0.110-5fakssync1_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.110-5fakssync1) ...
Selecting previously unselected package gconf2-common.
Preparing to unpack .../01-gconf2-common_3.2.6-6ubuntu1_all.deb ...
Unpacking gconf2-common (3.2.6-6ubuntu1) ...
Selecting previously unselected package libgconf-2-4:amd64.
Preparing to unpack .../02-libgconf-2-4_3.2.6-6ubuntu1_amd64.deb ...
Unpacking libgconf-2-4:amd64 (3.2.6-6ubuntu1) ...
Selecting previously unselected package gconf-service-backend.
Preparing to unpack .../03-gconf-service-backend_3.2.6-6ubuntu1_amd64.deb ...
Unpacking gconf-service-backend (3.2.6-6ubuntu1) ...
Selecting previously unselected package gconf-service.
Preparing to unpack .../04-gconf-service_3.2.6-6ubuntu1_amd64.deb ...
Unpacking gconf-service (3.2.6-6ubuntu1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../05-libgtk2.0-common_2.24.32-4ubuntu4_all.deb ...
Unpacking libgtk2.0-common (2.24.32-4ubuntu4) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../06-libgtk2.0-0_2.24.32-4ubuntu4_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-4ubuntu4) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../07-libgail18_2.24.32-4ubuntu4_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-4ubuntu4) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../08-libgail-common_2.24.32-4ubuntu4_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-4ubuntu4) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../09-libgtk2.0-bin_2.24.32-4ubuntu4_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-4ubuntu4) ...
Selecting previously unselected package xvfb.
Preparing to unpack .../10-xvfb_2%3a1.20.13-1ubuntu1~20.04.6_amd64.deb ...
Unpacking xvfb (2:1.20.13-1ubuntu1~20.04.6) ...
Setting up xvfb (2:1.20.13-1ubuntu1~20.04.6) ...
Setting up gconf2-common (3.2.6-6ubuntu1) ...

Creating config file /etc/gconf/2/path with new version
Setting up libdbus-glib-1-2:amd64 (0.110-5fakssync1) ...
Setting up libgtk2.0-common (2.24.32-4ubuntu4) ...
Setting up libgconf-2-4:amd64 (3.2.6-6ubuntu1) ...
Setting up libgtk2.0-0:amd64 (2.24.32-4ubuntu4) ...
Setting up libgail18:amd64 (2.24.32-4ubuntu4) ...
Setting up libgtk2.0-bin (2.24.32-4ubuntu4) ...
Setting up libgail-common:amd64 (2.24.32-4ubuntu4) ...
Setting up gconf-service (3.2.6-6ubuntu1) ...
Setting up gconf-service-backend (3.2.6-6ubuntu1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for man-db (2.9.1-1) ...

# Query Data

Query Data from the Source:

https://ourworldindata.org/life-expectancy

In [4]:
HL = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-FinalProject-Yiyang/main/data/life-expectancy.csv',parse_dates=['Year'])
HL.head()

        Entity Code  Year  Life expectancy at birth (historical)
0  Afghanistan  AFG  1950                                   27.7
1  Afghanistan  AFG  1951                                   28.0
2  Afghanistan  AFG  1952                                   28.4
3  Afghanistan  AFG  1953                                   28.9
4  Afghanistan  AFG  1954                                   29.2

# Inspect Data

In [5]:
HL.head(10)

        Entity Code  Year  Life expectancy at birth (historical)
0  Afghanistan  AFG  1950                                   27.7
1  Afghanistan  AFG  1951                                   28.0
2  Afghanistan  AFG  1952                                   28.4
3  Afghanistan  AFG  1953                                   28.9
4  Afghanistan  AFG  1954                                   29.2
5  Afghanistan  AFG  1955                                   29.9
6  Afghanistan  AFG  1956                                   30.4
7  Afghanistan  AFG  1957                                   30.9
8  Afghanistan  AFG  1958                                   31.5
9  Afghanistan  AFG  1959                                   32.0

In [6]:
HL.dtypes

Entity                                    object
Code                                      object
Year                                      object
Life expectancy at birth (historical)    float64
dtype: object

In [7]:
HL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20445 entries, 0 to 20444
Data columns (total 4 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Entity                                 20445 non-null  object
 1   Code                                   19058 non-null  object
 2   Year                                   20445 non-null  object
 3   Life expectancy at birth (historical)  20445 non-null  float64
dtypes: float64(1), object(3)
memory usage: 639.0+ KB

# Output Data

In [8]:
HL.to_csv("HL.csv")